= render partial: 'partials/cover_board_truck', locals: { resource: @truck }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3 Truck information:
    %h4.bottom_margin
      Year:
    %p.bottom_margin
      #{ @truck.year }
    %h4.bottom_margin
      Model:
    %p.bottom_margin
      #{ @truck.model }
    %h4.bottom_margin
      Weight capacity:
    %p.bottom_margin
      #{ @truck.weight_capacity }
    %h4.bottom_margin

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3 Location:
    .spacing-top
      = render partial: 'partials/location', locals: { resource: @truck }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    .col-md-offset-5
